<form class="form-standard form-horizontal" style="width: 600px; margin: 0 auto; margin-top: 100px" ng-submit="newEmail()" name="form">
	<h2>Change Email</h2>
	<div class="form-group">
		<label class="col-lg-4 control-label" for="email">E-Mail:</label>
		<div class="input-group col-lg-8">
			<input placeholder="Enter your e-mail..." type="text" class="form-control" ng-model="user.email" name="email" />
			<span ng-show="form.email.$error" class="help-block">{{errors.email}}</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-4 control-label" for="confirmedEmail">E-Mail Confirm:</label>
		<div class="input-group col-lg-8">
			<input placeholder="Enter your e-mail confirm..." type="text" class="form-control" ng-model="user.confirmedEmail" name="confirmedEmail" />
			<span ng-show="form.confirmedEmail.$error" class="help-block">{{errors.confirmedEmail}}</span>
		</div>
	</div>
	<div class="form-group form-buttons">
		<div class="col-lg-offset-4 col-lg-8">
			<button class="btn btn-default" ng-click="reset()">Cancel</button>
			<button class="btn btn-primary" type="submit">Save Changes</button>
		</div>
	</div>
</form>
