<form (ngSubmit)="onSubmit()" #loginForm="ngForm" style="width: 600px; margin: 0 auto; margin-top: 100px" class="form-horizontal form-standard">
  <h2>Please sign in</h2>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" [(ngModel)]="model.username" ngControl="username" #username="ngForm" required>
    <div [hidden]="!(username.touched && !username.valid)" class="alert alert-danger">
      Name is required
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" [(ngModel)]="model.password" ngControl="password" #password="ngForm" required>
    <div [hidden]="!(password.touched && !password.valid)" class="alert alert-danger">
      Password is required
    </div>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Remember me
    </label>
  </div>
  <div class="form-group form-buttons">
    <div class="col-lg-offset-2 col-lg-10">
      <button class="btn btn-default">Cancel</button>
      <button class="btn btn-primary" type="submit" [disabled]="!loginForm.form.valid">Login</button>
    </div>
  </div>
</form>
