<form class="form-horizontal form-standard" style="width: 600px; margin: 0 auto; margin-top: 100px" ng-submit="changePassword()" name="form">
	<h2>Change Password</h2>
	<div class="form-group">
		<label class="col-lg-5 control-label" for="password">Password</label>
		<div class="input-group col-lg-7">
			<input placeholder="Enter your old password..." type="password" class="form-control" ng-model="user.password" name="password" />
			<span class="help-block">{{errors.password}}</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-5 control-label" for="newPassword">New password</label>
		<div class="input-group col-lg-7">
			<input placeholder="Enter your new password..." type="password" class="form-control" ng-model="user.newPassword" name="newPassword" />
			<span class="help-block">{{errors.newPassword}}</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-5 control-label" for="confirmedNewPassword">Confirm new password</label>
		<div class="input-group col-lg-7">
			<input placeholder="Repeat your new password..." type="password" class="form-control" ng-model="user.confirmedNewPassword" name="confirmedNewPassword" />
			<span class="help-block">{{errors.confirmedNewPassword}}</span>
		</div>
	</div>
	<div class="form-group form-buttons">
		<div class="col-lg-offset-5 col-lg-7">
			<button class="btn btn-default" ng-click="reset()">Cancel</button>
			<button class="btn btn-primary" type="submit">Save Changes</button>
		</div>
	</div>
</form>	
