<form class="form-horizontal form-standard" style="width: 950px; margin: 0 auto; margin-top: 100px" ng-submit="save('user')" name="form" ng-init="initForm()">
	<div class="row" ng-init="init()">
		<div class="col-md-12">
			<h2>Profile</h2>
			<div class="form-group">
				<label class="col-lg-2 control-label" for="firstName">Surname</label>
				<div class="col-lg-10">
					<input placeholder="Enter your surname..." type="text" class="form-control" ng-model="user.firstName" name="firstName" />
					<span ng-show="form.firstName.$error" class="help-block">{{errors.firstName}}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label" for="lastName">Name</label>
				<div class="col-lg-10">
					<input placeholder="Enter your name..." type="text" class="form-control" ng-model="user.name" name="name" />
					<span ng-show="form.name.$error" class="help-block">{{errors.name}}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label" for="telephone">Telephone</label>
				<div class="col-lg-10">
					<input placeholder="Enter your telephone number..." class="form-control" ng-model="user.telephone" name="telephone" />
					<span ng-show="form.telephone.$error" class="help-block">{{errors.telephone}}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label" for="fax">Fax:</label>
				<div class="col-lg-10">
					<input placeholder="Enter your fax number..." class="form-control" ng-model="user.fax" name="fax" />
					<span ng-show="form.fax.$error" class="help-block">{{errors.fax}}</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label" for="notes">Attachments:</label>
				<div upload="addAttachement(response, completed)"></div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label" for="notes">Current profile Picture:</label>
				<div class="col-lg-10">
					<img src="img/profile.png" class="img-polaroid" style="heigth: 140px; width: 140px" ng-show="user.profilePicture == null">
					<img ng-show="user.profilePicture" src="{{IMG_BASE_URL}}/static/images?fileName={{user.profilePicture}}"
						alt="{{user.profilePicture}} Logo" class="img-rounded" width="140px">
				</div>
			</div>
			<div class="form-group form-buttons">
				<div class="col-lg-offset-2 col-lg-10">
					<button class="btn btn-default" ng-click="reset()">Cancel</button>
					<button class="btn btn-primary" type="submit">Save Changes</button>
				</div>
			</div>
		</div>
	</div>
</form>	
