<form (ngSubmit)="onSubmit()" #hf="ngForm" style="width: 600px; margin: 0 auto; margin-top: 100px" class="form-horizontal form-standard">
  <h2>Please sign in</h2>
  <fieldset class="form-group">
    <label for="email">E-Mail</label>
    <input type="text" class="form-control" [(ngModel)]="model.email" ngControl="email" #email="ngForm" required>
    <div [hidden]="!(email.touched && !email.valid)" class="alert alert-danger">
      E-Mail is required
    </div>
  </fieldset>
  <fieldset class="form-group">
    <label for="firstname">Firstname</label>
    <input type="text" class="form-control" [(ngModel)]="model.firstName" ngControl="firstName" #firstName="ngForm" required>
    <div [hidden]="!(firstName.touched && !firstName.valid)" class="alert alert-danger">
      Firstname is required
    </div>
  </fieldset>
  <fieldset class="form-group">
    <label for="lastName">Lastname</label>
    <input type="text" class="form-control" [(ngModel)]="model.lastName" ngControl="lastName" #lastName="ngForm" required>
    <div [hidden]="!(lastName.touched && !lastName.valid)" class="alert alert-danger">
      Lastname is required
    </div>
  </fieldset>
  <fieldset class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" [(ngModel)]="model.password" ngControl="password" #password="ngForm" required>
    <div [hidden]="!(password.touched && !password.valid)" class="alert alert-danger">
      Password is required
    </div>
  </fieldset>
  <fieldset class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" class="form-control" [(ngModel)]="model.confirmPassword" ngControl="confirmPassword" #confirmPassword="ngForm" required>
    <div [hidden]="!(confirmPassword.touched && !confirmPassword.valid)" class="alert alert-danger">
      Confirm password is required
    </div>
  </fieldset>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <a class="md-primary md-button no-hover md-ink-ripple" [routerLink]="['/Login']">Already have an Account? Login!</a>
      </div>
    </div>
  </div>
  <div class="form-group form-buttons">
		<div class="col-lg-offset-2 col-lg-10">
			<button class="btn btn-default">Cancel</button>
			<button class="btn btn-primary" type="submit">Register</button>
		</div>
	</div>
</form>
