<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <a class="navbar-brand" [routerLink]="['/Home']">EPRO VL12</a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-item nav-link active" [routerLink]="['/Home']">Home</a>
      <a class="nav-item nav-link active" [routerLink]="['/Login']">Login</a>
      <a class="nav-item nav-link active" [routerLink]="['/Register']">Register</a>
    </li>
    <li class="nav-item dropdown pull-lg-right" dropdown (on-toggle)="toggled($event)">
      <a class="nav-link dropdown-toggle" dropdown-toggle>Profile</a>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" [routerLink]="['/Login']">Login</a>
        <a class="dropdown-item" [routerLink]="['/Register']">Register</a>
      </div>
    </li>
  </ul>
</nav>
<div class="container-fluid" style="padding-top: 80px">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
</div>
