<md-dialog aria-label="Create new user">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create new user</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>

      <form name="createUserForm" ng-submit="submitCreateUserForm(createUserForm)">

        <div class="form-group full-width less-vmargins">
          <md-input-container>
            <label>Username(email)</label>
            <input type="email" ng-model="createUserForm.username" ng-required="true">
          </md-input-container>
          <md-input-container>
            <label>First Name</label>
            <input ng-model="createUserForm.firstname" ng-required="true" minlength="3">
          </md-input-container>
          <md-input-container>
            <label>Last Name</label>
            <input ng-model="createUserForm.lastname" ng-required="true" minlength="3">
          </md-input-container>
          <md-input-container>
            <label>Password</label>
            <input ng-model="createUserForm.password" ng-required="true" type="password" minlength="6">
          </md-input-container>
          </div>

          <md-dialog-actions flex layout="row">
            <md-button type="button" ng-click="cancel()">
              Cancel
            </md-button>
            <md-button class="md-raised md-primary" type="submit">
              Create
            </md-button>
          </md-dialog-actions>

      </form>
    </md-dialog-content>

</md-dialog>
