<div layout="column" ng-init="init()" style="padding-top:8px;">

  <div layout="row" layout-align="start start">
    <h2>Users of {{org.entity.name}}</h2>

  		<button type="button" aria-label="Show Create User Dialog" class="md-button md-icon-button md-primary" style="text-align:center;" ng-click="showCreateUserDialog($event)">
  			<md-icon class="no-focus" md-svg-icon="assets/svg/ic_add_48px.svg" style="margin-top:8px;"></md-icon>
  		</button>

  </div>


	<md-divider></md-divider>

	<md-data-table-container>
    <table md-data-table md-progress="deferred">
      <thead md-order="query.order" md-trigger="onOrderChange">
        <tr>
          <th style="min-width:30px;width:30px;max-width:30px;padding:0;"></th>
          <th name="Username" order-by="entity.username"></th>
					<th name="Organization Roles"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="data-table-row" ng-repeat="user in orgUsers | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit" ng-mouseover="showButtons=true" ng-mouseleave="showButtons=false">

          <td style="min-width:30px;width:30px;max-width:30px;padding:0;">
            <div ng-show="showButtons">
              <md-menu>
                <md-button aria-label="Open route interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)" style="width:30px;height:36px;line-height:0;">
                  <md-icon md-menu-origin="" md-svg-icon="assets/svg/menu.svg"></md-icon>
                </md-button>
                <md-menu-content width="2">
                  <md-menu-item>
                    <md-button ng-click="switchToEditUser(user)">Manage Roles</md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button class="md-warn" ng-click="showConfirm($event, user)">Delete</md-button>
                  </md-menu-item>

                </md-menu-content>
              </md-menu>
            </div>
          </td>

          <td style="font-weight:bold;">{{user.entity.username}}</td>

					<td>
						<p ng-if="user.isOrgManager">Manager</p>
						<p ng-if="user.isOrgBillingManager">Billing Manager</p>
						<p ng-if="user.isOrgAuditor">Auditor</p>
					</td>

        </tr>
      </tbody>
    </table>
  </md-data-table-container>

  <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{orgUsers.length}}" md-trigger="onPaginationChange"></md-data-table-pagination>


</div>
